* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: floralwhite;
}
.background__blue {
    background-color: #1810C1;
}
.background__grey {
    background-color: #E6E6E6;
}
.background__white {
    background-color: #FFFFFF;
}
.image {
    width: 100%; 
    height: auto;   
    position: relative;
}
a {
    text-decoration: none;
}

/**** NAVIGATION ****/ 
header {
    padding: 20px;
}
.navigation__logo {
    border: 1px solid white; 
    float: left;
    padding: 15px 20px;
    margin-left: 10px;
}

.navigation__item {
    display: block;
    float: right;
    padding: 5px;
    margin: 10px;
}
.navigation {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.navigation__item a,
.navigation__logo a {
    text-decoration: none;
    color: white;
    padding: 0;
    display: block;
}
.navigation__item a {
    text-transform: uppercase;
}

.navigation__item a:hover:after {
    width: 100%;   
}
.navigation__item a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}



/******** PAGINA TITEL ******/

.page__title h1 {
    font-size: 4rem;
}
.page__title {
    position: relative;
    height: 450px;
}
.title__absolute {
    position: absolute;
    bottom: 0px;
}


/******** HOME ******/

.home__title h1{
    padding: 200px 0px;
    padding-left: 50px;
}
.home__cover__image {
    top: -50px;
}
.change__margin {
    margin-bottom: -55px;
}
.home__intro p{
    margin: 100px 0;
    margin-left: 200px;
}




.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    padding: 2px 6px;
    position: absolute;
    bottom: 6px;
    text-align: center;
    background-color: hsla(0, 0%, 50%, 0.5);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.slideshow__image {
    width: 100%; 
    height: 400px;   
    position: relative;
}
.slideshow__image01 {
    background: #DDD url('../img/portfolio_01.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}
.slideshow__image02 {
    background: #DDD url('../img/portfolio_02.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}
.slideshow__image03 {
    background: #DDD url('../img/portfolio_03.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}









/******** WHAT WE DO ******/

.page__subtitle {
    margin-top: 150px;
}
.subtitle__about__text h2 {
    padding-top: 100px;
}
.subtitle__about__text {
    position: relative;
}
.subtitle__about__absolute {
    position: absolute;
    left: -40px;
}

.about__alinea {
    padding-top: 50px;
    padding-bottom: 80px;
}
.about__grey__field {
    padding: 50px;
}
.about__grey__field h4 {
    margin-bottom: -20px;
}
.about__grey__field p {
    margin-left: 40px;
}

.storytelling__image {
    top: -80px;
}
.storytelling__alinea {
    padding-left: 60px;
    padding-bottom: 30px;
}
.animatie__alinea {
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.animatie__image {
    padding-left: 50px;
}
.live__action__image {
    width: 90%;
    top: -20px;
    padding-left: 50px;
}
.live__action__alinea {
    padding: 0px 30px;
    padding-top: 50px;
    margin-bottom: 100px;
}
.art__direction__image {
    right: -50px;
    top: -80px;
}
.art__direction__alinea {
    position: relative;
    height: 250px;
    padding-left: 50px;
}
.art__direction__alinea__absolute {
    position: absolute;
    top: -120px;
}







/******** WHO WE ARE ******/

.subtitle__team__text h2 {
    position: relative;
    padding-top: 100px;
    text-align: right;
    z-index: 1;
}
.subtitle__team__text {
    position: relative;
    right: -40px;
}
.team__grey__field {
    padding: 50px;
}
.image__lisanne {
    position: relative;
    background: #DDD url('../img/lisanne.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 300px;
}
.image__lars {
    position: relative;
    background: #DDD url('../img/lars.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 300px;
}
.image__ellen {
    position: relative;
    background: #DDD url('../img/ellen.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 300px;
}
.image__aurelie {
    position: relative;
    background: #DDD url('../img/aurelie.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 300px;
}
.profile__image {
    position: relative; 
    border-radius: 200px;
    -webkit-transition: border-radius 0.5s ease-out;
    transition: border-radius 0.5s ease-out;
}
.float__right {
    float: right;
}
.align__right {
    text-align: right;
}
.profile__text__left {
    position: relative;
    left: -20px;
}
.profile__text__right {
    position: relative;
    right: -20px;
    z-index: 1;
}
.profile__text__right h3,
.profile__text__left h3 {
    color: blue;
}
.profile__image:hover {
    border-radius: 0; 
}

/******** PORTFOLIO ******/
.white__space {
    height: 150px;
}
.column__down {
    top: 100px;
}
.portfolio__container {
    position: relative;
    margin: 0px 10px;
}
.image__porfolio__01 {
    background: #DDD url('../img/portfolio_01.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height:  300px;
    position: relative;
}
.image__porfolio__02 {
    background: #DDD url('../img/portfolio_02.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    position: relative;
}

.image__porfolio__03 {
    background: #DDD url('../img/portfolio_03.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height:  300px;
    position: relative;
}
.image__paper__faces {
    background: #DDD url('../img/paper_faces.PNG') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    position: relative;
}

.portfolio__title h3 {
    position:relative;
    font-size: 2.5rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    z-index: 1;

}
.portfolio__text p { 
    position: relative;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #FFF;
    padding-left: 20px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;

}
.portfolio__text,
.portfolio__title {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;

}

/* hover */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;
    overflow: hidden;
    width: 0;
    height: 100%;
    -webkit-transition: width .5s ease;
    transition: .5s ease;
}
.portfolio__container:hover .overlay {
    width: 100%;
}

.portfolio__container:hover .portfolio__text p {
    opacity: 1;
}


/******** CONTACT *******/

label {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=text]:focus,
input[type=submit]:focus {
    border: 1px solid #555;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
input[type=submit] {
    background-color: grey;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 8px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.conctact__right__colomn {
    padding-left: 10px;
}
.google__maps {
    height: 500px;
}

#map {
    height: 100%;
}


/******** DETAIL PAGE *******/

.video__wrapper {
    position: relative;
    height: 600px;
}

.video__wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu__prev__next {
    position: relative;
    height: 100px;
}
.left__arrow,
.right__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left__arrow a,
.right__arrow a {
    text-decoration: none;
    color: blue;
}
.right__arrow {
    right: 0;
}
.arrow {
    font-size: 2em;
    color: blue;
    
}

.omschrijving h4 {
    line-height: 0.8em;
}
.omschrijving {
    border-left: 2px solid black;
    padding-left: 20px;
}
.omschrijving p {
    padding-top: 30px;
}



/******** WORK WITH US *******/

.wwu__box {
    position: relative;
    height: 200px;
    background-color: white;
}
.wwu__box h3 {
    float: right;
    padding: 50px 0;
    padding-right: 30px;
    color: #1810C1; 
}
.wwu__contact__box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 80px;
}
.wwu__box a {
    text-decoration: none;
    color: #1810C1; 
    border: 1px solid #1810C1; 
    padding: 20px 60px;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}
.wwu__box a:hover {
    background-color: #1810C1;
    color: white;
}

/******** NEXT *******/
.next__footer {
    text-align: center;
}
.next__footer p:first-child {
    text-transform: uppercase;
    margin-bottom: -20px;
    margin-top: 40px;
}
.arrow__down__box {
    position: relative;
    height: 90px;
    margin-top: -40px;
}

.arrow__down {
    position: absolute;
    font-size: 4em;
    color: black;
    left: 0;
    right: 0;
    top:0px;
    bottom:0;
    -webkit-transition: top .3s ease-in;
    transition: top .3s ease-in;
}
.next__footer a:hover .arrow__down {
    top: 10px;
}


/******** FOOTER ******/

.footer__logo {
    border: 1px solid white; 
    color: white;
    float: left;
    padding: 10px 20px;;
    font-size: 3em;
    margin: 40px 60px;
}

footer p,
footer h4 {
    color: white;
}
.footer__text p {
    font-size: 0.5em;
    text-align: center;
    padding-bottom: 10px;
    margin-top: -20px;
}
.footer {
    padding-top: 20px;
}

.footer ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none; 
}
.social__media li a {
    color: white;
    background-image: linear-gradient(to right,
                                      white,
                                      white 50%,
                                      transparent 50%,
                                      transparent);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .2s ease-in;
}
.social__media li a:hover{
    color: blue;
    background-position: 0 0;   
}


