html {
  /* Convert Root EM (rem) from 16px to 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}

